body {
    font-family: Helvetica;
}

h1 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.captcha-main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    background-color: white;
    padding: 8px;
}

.toparea {
    background-color: #4990e2;
    padding: 25px;
    color: white;
}

.target-image-text {
    padding: 0px;
}

.instructions {
    font-size: 17px;
}

.imagearea {
    height: auto;
}

.imagetable {
    border-spacing: 2px 0px;
    border-collapse: separate;
    margin-top: 5px;
    margin-left: -3px;
    margin-right: -3px;
    max-width: 367px;
    transition: 1s;
}

.imagetable td {
    height: 120px;
    width: 120px;
    cursor: pointer;
    overflow: hidden;
}

.imagearea img {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: 0.2s;
    /* cha cha real smooth (not really) */
}

.selected {
    border: 7px solid #4990e2;
    width: -moz-calc(100% - 14px);
    /* cross-browser compatibility like a true dev */
    width: -webkit-calc(100% - 14px);
    width: -o-calc(100% - 14px);
    width: calc(100% - 14px);
    height: -moz-calc(100% - 14px);
    height: -webkit-calc(100% - 14px);
    height: -o-calc(100% - 14px);
    height: calc(100% - 14px);
}

.unselected {
    width: 100%;
    height: 100%;
    border: none;
}

.wrong {
    border: 7px solid red;
}

.correct {
    border: 7px solid green;
}

.verify {
    float: right;
    background-color: #4990e2;
    padding: 10px;
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    cursor: pointer;
}

.try-again {
    margin-right: 10px;
    font-size: 17px;
    color: red;
    display: none;
}

.no-table {
    float: right;
    border-collapse: collapse;
    border: none;
}

a {
    text-decoration: none;
    /* 去掉下划线 */
    color: inherit;
    /* 继承父元素的颜色 */
}

h1 {
    z-index: 1145;
}

#main {
    /*text-align: center; 让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    max-width: 360;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h2 {
    word-wrap: break-word;
    word-break: break-all;
}

h3 {
    word-wrap: break-word;
    word-break: break-all;
}

#redirectButton {
    background-color: #9E9E9E;
    /* 背景色接近谷歌按钮的浅灰色 */
    color: #FAFAFA;
    /* 字体颜色接近谷歌按钮的蓝色 */
    border-radius: 22px;
    /* 圆角 */
    padding: 10px 20px;
    /* 内边距 */
    font-size: 14px;
    /* 文本大小 */
    font-weight: 500;
    /* 字体粗细 */
    cursor: pointer;
    transition: all 0.3s ease;
    /* 平滑过渡效果 */
}

#redirectButton:enabled {
    cursor: pointer;
    /* 鼠标变为指针 */
}

#redirectButton:enabled:hover {
    background-color: #2979FF;
    /* 悬停时背景色 */
    /* 添加轻微阴影 */
}

#redirectButton:disabled {
    background-color: #9E9E9E;
    /* 禁用时背景色 */
    color: #FAFAFA;
    /* 禁用时字体颜色 */
    cursor: not-allowed;
    /* 禁用时鼠标变为禁用状态 */
}

#redirectButton:disabled:hover {
    background-color: #9E9E9E;
    /* 禁用时悬停状态 */
    box-shadow: none;
    /* 禁用时不显示阴影 */
}

#captcha-body {
    z-index: 999;
    display: none;
}

#pass {
    /* 清除默认边框 */
    border: 0;
    outline: none;
    /*清除默认背景 */
    background-color: transparent;
    text-decoration: none;
    /* 去掉下划线 */
    color: inherit;
    /* 继承父元素的颜色 */
}